
    <div class="sticky-header navbar-expand-lg" style="background-color: black">
        <div class="menu-bar ">
            <div class="container ">
                <!-- Header Logo ==== -->
                <div class="menu-logo">
                    <a href="homepage"><img src="assets/images/logo.png" alt=""></a>
                </div>
                <!-- Author Nav ==== -->
                <div class="secondary-menu">
                    <div class="secondary-inner">
                        <ul>
                            <li> <a style="color: white" href="#" id="open-login-popup" class="nav-link">Login</a></li>
                            <li><a style="color: white" href="#" id="open-register-popup" class="nav-link">Register</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Navigation Menu ==== -->
                <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                    <div class="menu-logo">
                        <a href="homepage"><img src="assets/images/logo.png" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/Home/Index">Home </a>
                        </li>
                        <li>
                            <a href="/SubjectList/Index">Subjects </a>

                        </li>
                    </ul>
                </div>
                <!-- Navigation Menu END ==== -->
            </div>
        </div>
    </div>